/**
* Add to cart popin.
*/
div.messages.commerce-add-to-cart-confirmation {
  background-color: #d6e5ec;
  border-color: #6bb0cb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 2px 15px #57595A;
  -webkit-box-shadow: 0 2px 15px #57595A;
  box-shadow: 0 2px 15px #57595A;
  filter: progid:DXImageTransform.Microsoft.Shadow(color = '#57595A', direction = '180', strength = '5');
  overflow: hidden;
  padding: 0;
}

.commerce-add-to-cart-confirmation {
  background-color: white;
  color: #aeaaa5;
  margin-left: -35% !important; /* width/2 */
  position: absolute;
  left: 50%;
  width: 70%;
  z-index: 201;
  height: 175px;
}

.commerce-add-to-cart-confirmation ul {
  list-style-type: none !important;
}

.commerce-add-to-cart-confirmation .placeholder {
  background: transparent url('../images/bg_add_to_cart.png') left center no-repeat;
  font-style: normal;
  font-weight: bold;
  padding-top: 5px;
  padding-left: 35px;
}

.commerce-add-to-cart-confirmation .button-wrapper {
  background-color: #e4eef3;
  float: right;
  padding: 40px 30px;
}

.commerce-add-to-cart-confirmation .button-wrapper:after {
  display: block;
  clear: both;
  content: ".";
  height: 0;
  visibility: hidden;
}

.commerce-add-to-cart-confirmation .added-product-title {
  color: #2698f2;
  float: left;
  font-size: 16px;
  font-weight: 500;
  padding: 55px 30px 10px 20px;
  width: 180px;
}

.commerce-add-to-cart-confirmation-close {
  background: url('../images/btn_add-to-cart-close.png') no-repeat 0 0;
  width: 18px;
  height: 17px;
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
}

.commerce-add-to-cart-confirmation .button-wrapper .button .commerce-add-to-cart-confirmation-close {
  position: static;
  background: none;
  white-space: nowrap;
  width: auto;
}

.commerce-add-to-cart-confirmation .button-wrapper .button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
}

.commerce-add-to-cart-confirmation .button-wrapper .button.checkout {
  background-color: #2698F2;
}

.commerce-add-to-cart-confirmation .button-wrapper .button.continue {
  background-color: #b3b3b3;
}

.commerce-add-to-cart-confirmation .button-wrapper .button.checkout:hover,
.commerce-add-to-cart-confirmation .button-wrapper .button.continue:hover {
  cursor: pointer;
}

.commerce-add-to-cart-confirmation .button-wrapper .button a {
  font-weight: bold;
  color: white;
}

.commerce-add-to-cart-confirmation .field:after,
.entity-commerce-product:after {
  content: none;
}

.commerce-add-to-cart-confirmation .button-wrapper {
  float: none;
  height: 100%;
  position: absolute;
  right: 0;
}

